{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "max-len": ["error", 120],
      "semi": [2, "always"],
      "comma-spacing": [2, {"before": false, "after": true}]
    }
  }